body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#app {
    height: 100%;
}

.clearfix {
    &:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: "";
      clear: both;
      height: 0;
    }
}